students
{
	margin-top:10%;
	background-color:white;
}

usn
{
display:block;
margin-left:30%;
color:red;
}
name
{
display:block;
margin-left:31%;
color:blue;
}
college
{
display:block;
margin-left:31%;
color:green;
}
branch
{
display:block;
margin-left:31%;
color:orange;
}
year
{
display:block;
margin-left:31%;
color:gray;
}
e-mail
{
display:block;
margin-left:31%;
color:;
}

